<section class="contacts">
    <div class="contacts-detail">
      <img src="<%=prefix%>images/IMG_1063.PNG" alt="icon">
      <p>Not A Real Bank... No location</p>
      <a href="#">Branch Office</a>
    </div>

    <div class="contacts-detail">
      <img src="<%=prefix%>images/call.PNG" alt="icon">
      <a href="tel: +234(0)9078924087">+234(0)9078924087</a>
    </div>

    <div class="contacts-detail">
      <img src="<%=prefix%>images/mail.PNG" alt="icon">
      <p>We'd get right back to you</p>
      <a href="mailto: asogwac029@gmail.com">SEND MAIL</a>
    </div>
  </section>

<footer>
    <main>
        <div class="head">
            <img src="<%=prefix%>images/logo.png" alt="logo">
            <p>
                Our goal at United Banks is to provide access to personal loans and business loan, car loan, home loan, real estate loan at insight competitive interest rates. We support your business growth through our guided investment and financial consultation services.</p>
                <b>PLEASE NOTE THAT THIS IS A CLONE OF AN ACTUAL SITE AND SHOULDN'T BE TAKEN AS A LEGAL BANKING SERIVCE</b>
        </div>
        <div class="menu">
            <h4>Quick Links</h4>
            <div class="links">
                <ul>
                    <li>
                        <a href="/dashboard/<%=account._id%>">Dashboard</a>
                    </li>
                    <li>
                        <a href="/beneficiaries/<%=account._id%>">Beneficiaries</a>
                    </li>
                    <li>
                        <a href="/transfer/<%=account._id%>">Transfer Funds</a>
                    </li>
                    <li>
                        <a href="/transactions/<%=account._id%>">Transactions</a>
                    </li>
                    <li>
                        <a href="/support/<%=account._id%>">Support</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <h4>Contact Info</h4>
            <div class="links">
    
    
                <a href="mailto: asogwac029@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; <p>asogwac029@gmail.com</p>
                </a>
            </div>
        </div>
    </main>
    <p class="copy">COPYRIGHT &copy; <%= date %> UNITED BANK. ALL RIGHTS RESERVED.</p>

</footer>


<script src="<%=prefix%>dist/js/bootstrap.bundle.min.js"></script>
<script src="<%=prefix%>js/burger.js"></script>
</body>
</html>