<%-include('partials/dashNav')-%>
<div class="intro" style="display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <h2>Processing Request</h2>
    <h5 style="color: #000;">Your request to generate an account statement from <i>"<%=from%>" - "<%=to%>"</i> has been recieved. You will recieve your account statement in your G-mail soon.</h2>
   <h4> <a href="/dashboard/<%=account._id%>">Return to Dashboard</a></h5>
</div>
</main>
</div>
<%-include('partials/dashFooter')-%>