<%-include('partials/dashNav')-%>
<div class="intro" style="display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <i class="fa fa-question-circle" style="font-size: 3rem;"></i>
    <h3>Have Any Questions?</h3>

    <section class="contacts">
        <div class="contacts-detail">
          <img src="<%=prefix%>images/IMG_1063.PNG" alt="icon">
          <p>Not A Real Bank... No location</p>
          <a href="#">Branch Office</a>
        </div>
    
        <div class="contacts-detail">
          <img src="<%=prefix%>images/call.PNG" alt="icon">
          <p>Need help? Give us a call</p>
          <a href="tel: +234(0)9078924087">+234(0)9078924087</a>
        </div>
    
        <div class="contacts-detail">
          <img src="<%=prefix%>images/mail.PNG" alt="icon">
          <p>We'd get right back to you</p>
          <a href="mailto: asogwac029@gmail.com">SEND MAIL</a>
        </div>
      </section>
</div>
</main>
</div>
<%-include('partials/dashFooter')-%>